<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Battle_Public_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,199},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>UI_Battle_Public_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,26},{38,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,9}}</string>
                <key>sourceSize</key>
                <string>{38,9}</string>
            </dict>
            <key>UI_Battle_Public_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,181},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>UI_Battle_Public_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>UI_Battle_Public_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,102},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>UI_Battle_Public_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,112},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>UI_Battle_Public_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,32},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>UI_Battle_Public_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,164},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>UI_Battle_Public_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,143},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>UI_Battle_Public_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,209},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>UI_Battle_Public_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,179},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>UI_Battle_Public_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,179},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>UI_Battle_Public_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,97},{23,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,5}}</string>
                <key>sourceSize</key>
                <string>{23,5}</string>
            </dict>
            <key>UI_Battle_Public_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,233},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>UI_Battle_Public_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,157},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>UI_Battle_Public_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,37},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>UI_Battle_Public_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,119},{4,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,5}}</string>
                <key>sourceSize</key>
                <string>{4,5}</string>
            </dict>
            <key>UI_Battle_Public_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,82},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>UI_Battle_Public_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,193},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>UI_Battle_Public_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,198},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>UI_Battle_Public_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,124},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_Public_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,143},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>UI_Battle_Public_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,186},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>UI_Battle_Public_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,242},{9,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,31}}</string>
                <key>sourceSize</key>
                <string>{9,31}</string>
            </dict>
            <key>UI_Battle_Public_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,233},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>UI_Battle_Public_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,170},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>UI_Battle_Public_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,206},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>UI_Battle_Public_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,102},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>UI_Battle_Public_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,112},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>UI_Battle_Public_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,36},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>UI_Battle_Public_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,199},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>UI_Battle_Public_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{11,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,9}</string>
            </dict>
            <key>UI_Battle_Public_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,73},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>UI_Battle_Public_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>UI_Battle_Public_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,153},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>UI_Battle_Public_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,179},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>UI_Battle_Public_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>UI_Battle_Public_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,125},{26,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,12}}</string>
                <key>sourceSize</key>
                <string>{26,12}</string>
            </dict>
            <key>UI_Battle_Public_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,132},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>UI_Battle_Public_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{66,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,24}}</string>
                <key>sourceSize</key>
                <string>{66,24}</string>
            </dict>
            <key>UI_Battle_Public_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>UI_Battle_Public_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,242},{10,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,30}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>UI_Battle_Public_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>UI_Battle_Public_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,124},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>UI_Battle_Public_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,93},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>UI_Battle_Public_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,135},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>UI_Battle_Public_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{109,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,22}}</string>
                <key>sourceSize</key>
                <string>{109,22}</string>
            </dict>
            <key>UI_Battle_Public_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,240},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>UI_Battle_Public_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,26},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>UI_Battle_Public_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,82},{50,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,9}}</string>
                <key>sourceSize</key>
                <string>{50,9}</string>
            </dict>
            <key>UI_Battle_Public_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,242},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>UI_Battle_Public_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,58},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,42}}</string>
                <key>sourceSize</key>
                <string>{67,42}</string>
            </dict>
            <key>UI_Battle_Public_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
            <key>UI_Battle_Public_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{58,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,13}}</string>
                <key>sourceSize</key>
                <string>{58,13}</string>
            </dict>
            <key>UI_Battle_Public_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,209},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>UI_Battle_Public_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,148},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>UI_Battle_Public_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,37},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Battle_Public.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43c3da6c5e4bd48ab03ced6c8071c142:1/1$</string>
            <key>textureFileName</key>
            <string>UI_Battle_Public.pvr.ccz</string>
        </dict>
    </dict>
</plist>
