<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Battle_Public_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,257},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>UI_Battle_Public_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,47},{76,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,18}}</string>
                <key>sourceSize</key>
                <string>{76,18}</string>
            </dict>
            <key>UI_Battle_Public_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,202},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>UI_Battle_Public_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,336},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>UI_Battle_Public_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,40}</string>
            </dict>
            <key>UI_Battle_Public_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,244},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>UI_Battle_Public_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,449},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>UI_Battle_Public_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,456},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>UI_Battle_Public_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,314},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>UI_Battle_Public_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,255},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>UI_Battle_Public_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,459},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>UI_Battle_Public_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,449},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>UI_Battle_Public_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,188},{45,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,10}}</string>
                <key>sourceSize</key>
                <string>{45,10}</string>
            </dict>
            <key>UI_Battle_Public_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,390},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>UI_Battle_Public_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,394},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>UI_Battle_Public_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,214},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>UI_Battle_Public_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,235},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>UI_Battle_Public_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,459},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>UI_Battle_Public_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,307},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>UI_Battle_Public_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,238},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>UI_Battle_Public_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>UI_Battle_Public_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,264},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>UI_Battle_Public_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,449},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>UI_Battle_Public_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{17,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,61}}</string>
                <key>sourceSize</key>
                <string>{17,61}</string>
            </dict>
            <key>UI_Battle_Public_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,365},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>UI_Battle_Public_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,390},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>UI_Battle_Public_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,314},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>UI_Battle_Public_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{64,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>UI_Battle_Public_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,68},{86,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,36}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>UI_Battle_Public_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,183},{79,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,69}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>UI_Battle_Public_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,181},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>UI_Battle_Public_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,300},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>UI_Battle_Public_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,67},{85,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,74}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>UI_Battle_Public_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,106},{82,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>UI_Battle_Public_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,283},{51,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,23}}</string>
                <key>sourceSize</key>
                <string>{51,23}</string>
            </dict>
            <key>UI_Battle_Public_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,366},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>UI_Battle_Public_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,154},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>UI_Battle_Public_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,160},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>UI_Battle_Public_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,298},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>UI_Battle_Public_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>UI_Battle_Public_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,44},{137,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,65}}</string>
                <key>sourceSize</key>
                <string>{137,65}</string>
            </dict>
            <key>UI_Battle_Public_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{20,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,59}}</string>
                <key>sourceSize</key>
                <string>{20,59}</string>
            </dict>
            <key>UI_Battle_Public_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,208},{91,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,99}}</string>
                <key>sourceSize</key>
                <string>{91,99}</string>
            </dict>
            <key>UI_Battle_Public_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,350},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>UI_Battle_Public_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>UI_Battle_Public_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,427},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>UI_Battle_Public_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{217,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,43}}</string>
                <key>sourceSize</key>
                <string>{217,43}</string>
            </dict>
            <key>UI_Battle_Public_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,242},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>UI_Battle_Public_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,47},{138,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,111}}</string>
                <key>sourceSize</key>
                <string>{138,111}</string>
            </dict>
            <key>UI_Battle_Public_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,188},{100,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,18}}</string>
                <key>sourceSize</key>
                <string>{100,18}</string>
            </dict>
            <key>UI_Battle_Public_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,489},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>UI_Battle_Public_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{133,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,83}}</string>
                <key>sourceSize</key>
                <string>{133,83}</string>
            </dict>
            <key>UI_Battle_Public_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,64}}</string>
                <key>sourceSize</key>
                <string>{221,64}</string>
            </dict>
            <key>UI_Battle_Public_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,160},{115,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,26}}</string>
                <key>sourceSize</key>
                <string>{115,26}</string>
            </dict>
            <key>UI_Battle_Public_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,301},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>UI_Battle_Public_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,417},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UI_Battle_Public_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,409},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Battle_Public-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:453e1f8faedf63a05c608be6dac6613c:1/1$</string>
            <key>textureFileName</key>
            <string>UI_Battle_Public-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
