<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Battle_xuanbase_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,200},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,167},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,134},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,101},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,101},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,101},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,200},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,167},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>UI_Battle_xuanbase_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,134},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,101},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>UI_Battle_xuanbase_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>UI_Battle_xuanbase_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,200},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,167},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,134},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,134},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>UI_Battle_xuanbase_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,101},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,68},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,212},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,179},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,146},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,113},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI_Battle_xuanbase_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI_Battle_xuanbase.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bd625b396c2ce9d2b455e5a647995a3:1/1$</string>
            <key>textureFileName</key>
            <string>UI_Battle_xuanbase.pvr.ccz</string>
        </dict>
    </dict>
</plist>
